table, td, th, tr {
    border: 1px solid;
    padding: 10px;
}

body {
    background-color: blanchedalmond;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
}

.deleteButton {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
}


.inputClass {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
}

#submitButton {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
}
